/*GLOBAL STYLES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

:root {
    font-size: 16px;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #27388D;
}

/*NAVIGATION STYLES*/

.navbar {
    font-size: 1.2rem;
    background-color: #10183C;
    padding-bottom: 10px;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.nav-links, 
.logo {
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 1.8rem;
    margin-top: 10px;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
}
 

/*NAVBAR FOR MOBILE STYLES*/

@media screen and (max-width: 549px) {

    .logo {
        display: none;
        font-size: 1.8rem;
        color: #fff;
        margin-left: 40px;
    }

    #short {
        display: inline-block;
        font-size: 1.5rem;
    }

    .navbar-toggle {
        position: absolute;
        top: 45px;
        right: 45px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.5rem;
        z-index: 3;
    }
    
    .navbar-toggle:active {
        color: #4B61CE;
        }
    
    .main-nav {
        list-style: none;
        display: none;
    }
    
    .active {
        display: block;
        background-color: #10183C;
        padding: 10px;
    }
}

@media screen and (min-width: 550px) {

    #short {
        display: none;
    }

    .navbar-toggle {
        position: absolute;
        top: 20px;
        right: 60px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.5rem;
        z-index: 3;
    }
    
    .navbar-toggle:active {
        color: #4B61CE;
    }
    
    .main-nav {
        list-style: none;
        display: none;
    }
    
    .active {
        display: block;
        background-color:  #10183C;
        padding: 10px;
    }
}

/*NAVBAR DESKTOP STYLES*/

@media screen and (min-width: 1080px) {

    #short {
        display: none;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        align-items: center;
        z-index: 3;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .nav-links:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='rgb(255,205,2)' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
        background-position: 0 100%;
        background-size: 30px 6px;
        background-repeat: repeat-x;
        text-decoration: none;
    }

    .logo {
        margin-top: 0;
        padding: 2rem 0;
        margin-left: 40px;
    }

   .navbar-toggle {
       display: none;
    }
}

/* LANDING PAGE SECTION */

.landing-page{
    height: 100vh;
}

.flex-container {
    display: flex;
    width: 90%;
    margin: 0 5%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 120vh;
    top: -20px;
}


.flex-item-img {
    width: 450px;
    height: 450px;
    width: 35%;
    background-image: url(./Assets/avatar.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

 .flex-item-text {
    color: rgb(255, 255, 255);
    width: 65%;
    margin: 0 10px;
    text-align: center;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.flex-item-text h1 {
    font-size: 7rem;
    font-family: 'Playfair Display', Times, serif;
}

.flex-item-text h2 {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0 20px 30px 20px;
}

.btn-2 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    background-color: #4B61CE;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    position: relative;
    margin-bottom: 30px;
}

.btn-2:hover {
    background-color: rgb(255, 205, 2);
    color: #000;
}

@media screen and (max-width: 376px) {

    .flex-container {
        display: flex;
        width: 90%;
        margin: 0 5%;
        flex-flow: row wrap;
        align-items: center;
        top: -20px;
    }

    .flex-item-img {
        width: 250px;
        height: 250px;
        width: 100%;
        margin-top: 100px;
        background-image: url(./Assets/avatar.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .flex-item-text {
        color: rgb(255, 255, 255);
        width: 100%;
        margin: 0 10px;
        text-align: center;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    }

    .flex-item-text h1 {
        font-size: 4rem;
        font-family: 'Playfair Display', Times, serif;
        margin-bottom: 20px;
        margin-top: -120px;
    }
    
    .flex-item-text h2 {
        font-size: 1.4rem;
        font-weight: 300;
        margin: 10px 20px 30px 20px;
    }
    
    .btn-2 {
        font-size: 1rem;
    }
}


@media screen and (min-width: 377px) {
    .flex-container {
        display: flex;
        width: 90%;
        margin: 0 5%;
        flex-flow: row wrap;
        align-items: center;
        height: 100vh;
        top: -20px;
    }

    .flex-item-img {
        width: 200px;
        height: 200px;
        width: 100%;
        margin-top: 150px;
        background-image: url(./Assets/avatar.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .flex-item-text {
        color: rgb(255, 255, 255);
        width: 100%;
        margin: 0 10px;
        text-align: center;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    }

    .flex-item-text h1 {
        font-size: 4rem;
        font-family: 'Playfair Display', Times, serif;
        margin-bottom: 20px;
    }
    
    .flex-item-text h2 {
        font-size: 1.4rem;
        font-weight: 300;
        margin: 10px 20px 30px 20px;
    }

    .btn-2 {
        font-size: 1rem;
    }
}


/* ABOUT ME SECTION STYLES */

.about {
    position: relative;
    z-index: 2;
    top: 20vh;
    background-color: #c2c2c2;
    height: 100vh;
}

.flex-container-about {
    display: flex;
    width: 90%; 
    margin: 0 5%;
    flex-flow: row nowrap;
    justify-content: space-between;
    top: 60px;
    align-items: center;
    position: absolute;
    height: 100vh;
}

.section-title {
    font-size: 6rem;
    margin-top: 30px;
    font-family: 'Playfair Display', Times, serif;
    color: #FFFFFF;
    background-image: linear-gradient(120deg, #27388D 0%, #27388D 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
    display: inline-block;
    padding-right: 50px;
}

#about-me-title {
    color: #0B0F1E;
    background-image: linear-gradient(120deg, #475cc7 0%, #475cc7 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
}

.flex-container-about p {
    font-size: 1.5rem;
    font-kerning: 1.5rem;
    margin-top: 30px;
    font-weight: 400;
    text-align: justify;
}

.btn-3 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    background-color: #4B61CE;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    position: relative;
    margin-top: 40px;
    margin-bottom: 90px;
}

.btn-3:hover {
    background-color: rgb(255, 205, 2);
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 376px) {
    .about {
        position: relative;
        background-color: #c2c2c2;
        height: 120vh;
    }
    
    .flex-container-about {
        display: flex;
        width: 90%; 
        margin: 0 5%;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        height: 100vh;
        text-align: center;
    }

    .section-title {
        font-size: 3rem;
        font-family: 'Playfair Display', Times, serif;
        color: #FFFFFF;
        background-image: linear-gradient(120deg, #27388D 0%, #27388D 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.3em;
        background-position: 0 88%;
        display: inline-block;
        padding: 0 20px;
        margin-top: -50px;
        
    }
    
    #about-me-title {
        color: #0B0F1E;
        background-image: linear-gradient(120deg, #475cc7 0%, #475cc7 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.3em;
        background-position: 0 88%;
    }

    
    .flex-container-about p {
        font-size: 1.4rem;
        font-kerning: 1rem;
        margin-top: 30px;
        font-weight: 400;
        text-align: center;
    }

    .btn-3 {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        background-color: #4B61CE;
        padding: 0.7rem 2rem;
        border-radius: 2rem;
        position: relative;
        margin-top: 30px;
    }
}

@media screen and (min-width: 377px) {
    .about {
        position: relative;
        background-color: #c2c2c2;
        height: 150vh;
    }
    
    .flex-container-about {
        display: flex;
        width: 90%; 
        margin: 0 5%;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        height: 100vh;
        text-align: center;
    }

    .section-title {
        font-size: 3rem;
        font-family: 'Playfair Display', Times, serif;
        color: #FFFFFF;
        background-image: linear-gradient(120deg, #27388D 0%, #27388D 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.3em;
        background-position: 0 88%;
        display: inline-block;
        padding: 0 20px;
        margin-top: -50px;
        
    }
    
    #about-me-title {
        color: #0B0F1E;
        background-image: linear-gradient(120deg, #475cc7 0%, #475cc7 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.3em;
        background-position: 0 88%;
    }

    
    .flex-container-about p {
        font-size: 1.4rem;
        font-kerning: 1rem;
        margin-top: 30px;
        font-weight: 400;
        text-align: center;
    }

    .btn-3 {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        background-color: #4B61CE;
        padding: 0.7rem 2rem;
        border-radius: 2rem;
        position: relative;
        margin-top: 30px;
    }
}


/* WORK SECTION STYLES */

.work {
    position: relative;
    z-index: 2;
    background-color: #25447E;
    height: 100vh;
}

.flex-container-work {
    display: flex;
    width: 90%; 
    margin: 0 5%;
    flex-flow: row nowrap;
    justify-content: space-between;
    top: 60px;
    align-items: center;
    position: absolute;
    height: 100vh;
}

#recent-work-title {
    background-image: linear-gradient(120deg, #0B0F1E 0%, #0B0F1E 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;  
}

@media screen and (max-width: 376px) {
    .work {
        position: relative;
        background-color: #25447E;
        height: 100vh;
        top: 15vh;
    }
    
    .flex-container-work {
        display: flex;
        width: 90%; 
        margin: 0 5%;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    
    #recent-work-title {
        background-image: linear-gradient(120deg, #0B0F1E 0%, #0B0F1E 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.3em;
        background-position: 0 88%;
        margin-top: -50px;
    }
}

@media screen and (min-width: 377px) {
    .work {
        position: relative;
        background-color: #25447E;
        height: 100vh;
        top: 155vh;
    }
    
    .flex-container-work {
        display: flex;
        width: 90%; 
        margin: 0 5%;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    
    #recent-work-title {
        background-image: linear-gradient(120deg, #0B0F1E 0%, #0B0F1E 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.3em;
        background-position: 0 88%;
        margin-top: -50px;
    }
}


/* CONTACT SECTION STYLES */

.contact {
    position: relative;
    z-index: 2;
    background-color: #0B0F1E;
    height: 100vh;
}

.flex-container-contact {
    display: flex;
    width: 90%; 
    margin: 0 5%;
    flex-flow: row wrap;
    justify-content: space-between;
    top: 60px;
    align-items: center;
    position: absolute;
    height: 50vh;
}

.flex-container-contact ul {
    width: 50%;
}

.flex-container-contact > div > h3 {
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 20px;
}

.flex-item-title {
    width: 100%;
}

.flex-item-social {
    width: 100%;
}

.flex-item-social ul {
    margin-top: 50px;
}

.flex-item-social ul li {
    margin-right: 30px ;
    list-style: none;
    display: inline-block;
}

.flex-item-social ul li a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
}

.flex-item-contact-text {
    width: 100%;
}

.twitter-follow-button {
    border-radius: 4px;
}

.social-btn {
    background-color: #0e76a8;
    padding: 4px 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: 400;
}

.social-btn:hover {
    background-color: rgb(255, 205, 2);
    color: #000;
}

@media screen and (max-width: 376px) { 

    .contact {
        position: relative;
        z-index: 2;
        background-color: #0B0F1E;
        height: 90vh;
    }

    .flex-container-contact {
        display: flex;
        width: 90%; 
        margin: 0 5%;
        flex-flow: row wrap;
        justify-content: space-between;
        top: 60px;
        align-items: center;
        position: absolute;
        height: 50vh;
        text-align: center;
    }

    .flex-container-contact ul {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .flex-container-contact > div > h3 {
        color: #fff;
        font-weight: 400;
        font-size: 1.4rem;
        margin-top: 30px;
    }
    
    .flex-item-title {
        width: 100%;
    }
    
    .flex-item-social {
        width: 100%;
    }
    
    .flex-item-social ul {
        margin-top: 20px;
    }
    
    .flex-item-social ul li {
        list-style: none;
        margin-right: 0;
    }
    
    .flex-item-social ul li a {
        display: block;
        text-decoration: none;
        font-size: 1rem;
        margin-top: 30px;
        width: 150px;
    }
    
    .flex-item-contact-text {
        width: 100%;
    }
    
    .twitter-follow-button {
        border-radius: 4px;
    }
    
    .social-btn {
        background-color: rgb(255, 205, 2);
        padding: 4px 20px;
        border-radius: 20px;
        color: #000;
        font-weight: 400;
    }
    
    .social-btn:hover {
        background-color: #0e76a8;
        color: #fff;
    }
}

@media screen and (min-width: 377px) {
    .contact {
        position: relative;
        z-index: 2;
        top: 105vh;
        background-color: #0B0F1E;
        height: 70vh;
    }

    .flex-container-contact {
        display: flex;
        width: 90%; 
        margin: 0 5%;
        flex-flow: row wrap;
        justify-content: space-between;
        top: 60px;
        align-items: center;
        position: absolute;
        height: 50vh;
        text-align: center;
    }

    .flex-container-contact ul {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .flex-container-contact > div > h3 {
        color: #fff;
        font-weight: 400;
        font-size: 1.4rem;
        margin-top: 30px;
    }
    
    .flex-item-title {
        width: 100%;
    }
    
    .flex-item-social {
        width: 100%;
    }
    
    .flex-item-social ul {
        margin-top: 20px;
    }
    
    .flex-item-social ul li {
        list-style: none;
        margin-right: 0;
    }
    
    .flex-item-social ul li a {
        display: block;
        text-decoration: none;
        font-size: 1rem;
        margin-top: 30px;
        width: 150px;
    }
    
    .flex-item-contact-text {
        width: 100%;
    }
    
    .twitter-follow-button {
        border-radius: 4px;
    }
    
    .social-btn {
        background-color: rgb(255, 205, 2);
        padding: 4px 20px;
        border-radius: 20px;
        color: #000;
        font-weight: 400;
    }
    
    .social-btn:hover {
        background-color: #0e76a8;
        color: #fff;
    }
}



/* FOOTER SECTION STYLES */

footer {
    background-color: #6E92D5;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.red {
    color: red;
}

footer > h3 {
    color: #fff;
    font-weight: 500;
    display: inline-block;
    margin: 0 40px;
}

@media screen and (max-width: 376px) { 
    footer {
        flex-flow: column wrap;
        justify-content: center;
        font-size: 0.8rem;
    }

    footer > h3{
        font-size: 1rem;
        margin: 20px 0;
    }
}

@media screen and (min-width: 377px) { 
    footer {
        flex-flow: column wrap;
        justify-content: center;
        font-size: 0.8rem;
    }

    footer > h3{
        font-size: 1rem;
        margin: 20px 0;
    }
}


